body,
select,
input {
  font-size: 20px;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

form {
  border-radius: 0.25em;
  background: #eee;
  padding: 0.5em;
  margin: 2em 0;
}


select {
  max-width: 100%;
}

.field {
  margin: 1em 0;
}
