<h1>Addresses Demo</h1>

<%=
  render(
    partial: "form",
    locals: {
      name: "Basic",
      country_options: { include_blank: true }
    }
  )
%>

<%=
  render(
    partial: "form",
    locals: {
      name: "Pre-populated values for Ireland",
      country_options: { selected: "IE" },
      subdivision_values: SubdivisionSelect::SubdivisionsHelper::get_subdivisions_for_select("IE")
    }
  )
%>

<%=
  render(
    partial: "form",
    locals: {
      name: "Pre-populated values for Ireland",
      note: "and include_blank for subdivisions",
      country_options: { selected: "IE" },
      subdivision_values: SubdivisionSelect::SubdivisionsHelper::get_subdivisions_for_select("IE"),
      subdivision_options: { include_blank: true }
    }
  )
%>

